# Data Wrangling - Profile data

The purpose of this notebook is to prepare a clean and complete dataset about the Rewards app users. 
The steps are:
1. Handle missing data
2. Converting datetime column to duration column
3. Add calculate columns

### Import libraries and datasets

In [2]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

## Explore and handle missing data

In [ ]:
# TODO: explore missing data

In [9]:
# Drop missing values
profile_not_null = profile.dropna()

## Convert datetime column

In [6]:
# Convert column to datetime
profile.became_member_on = pd.to_datetime(profile.became_member_on, format='%Y%m%d', errors='coerce')
# Create an int column to store length of membership in days (which will be helpful in the model building section)
profile['membership_length'] = profile.became_member_on -  pd.to_datetime("now")
profile.membership_length = abs(profile.membership_length//np.timedelta64(1,'D'))

In [7]:
# Rename 'id' column to 'person'
profile = profile.rename(columns={'id':'person'})

In [8]:
profile = profile.drop(columns=['became_member_on'])

## Create calculated columns

Using the transcript data recording users' activities related to the offers, we can add calculated fields to the profile data to assist with the data exploration. 

Note that these fields give us insights on a user' activities _only_ during the time period that the data is collected and related to this product, and not the user's entire activity history.

#### Calculated fields
1. **total_spending** (float): total amount of money spent by a user on the app.
2. **response_rate** (float): number of offers viewed-then-completed by a user divided by number of offers received by that user. 
3. **total_transactions** (int) : total number of transactions made by a user.
4. **avg_spent_per_transaction** (float): average amount of money spent by a user per transaction
5. **total_rewards** (int): total number of rewards earned by a user

In [3]:
# Convert 'value' column into separate columns
transcript_values = json_normalize(transcript['value'])
transcript = pd.concat([transcript, transcript_values],axis=1)
transcript = transcript.drop(columns=['value'])

# Combine 'offer id' and 'offer_id' columns
transcript['offer_id'] = transcript['offer_id'].fillna(transcript['offer id'])
transcript = transcript.drop(columns='offer id')

# Separate the dataset into 4 separate dataframes, 'received', 'viewed', 'completed', 'transactions'
received = transcript[transcript['event']=='offer received']
viewed = transcript[transcript['event']=='offer viewed']
completed = transcript[transcript['event']=='offer completed']
transaction = transcript[transcript['event']=='transaction']

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [10]:
# Calculate total spending of each user
total_spending = transaction.groupby(['person'])['amount'].sum().reset_index()

# Merge profile and total spending
profile_add_spending = pd.merge(profile_not_null, 
             total_spending, 
             how='left', 
             on=['person'])
profile_add_spending = profile_add_spending.rename(columns={'amount':'total_spending'})

In [11]:
# Number of offers received
received_stats = received.groupby(['person'])['time'].agg(['count'])

# Merge profile and number of offers received
profile_add_received = pd.merge(profile_add_spending, 
             received_stats, 
             how='left', 
             on=['person'])

profile_add_received = profile_add_received.rename(columns={'count':'total_received_offers'})

In [12]:
# Number of viewed offers during the test
viewed_stats = viewed.groupby(['person'])['time'].agg(['count'])

# Merge profile and number of offers viewed
profile_add_viewed = pd.merge(profile_add_received, 
             viewed_stats, 
             how='left', 
             on=['person'])

profile_add_viewed = profile_add_viewed.rename(columns={'count':'total_viewed_offers'})

In [13]:
# Number of viewed offers during the test
completed_stats = completed.groupby(['person'])['time'].agg(['count'])

# Merge profile and number of offers completed
profile_add_completed = pd.merge(profile_add_viewed, 
             completed_stats, 
             how='left', 
             on=['person'])

profile_add_completed = profile_add_completed.rename(columns={'count':'total_completed_offers'})

In [14]:
# Calculate total number of offers viewed pers user and total number of offers influenced
profile_add_completed = profile_add_completed.fillna(0)
profile_add_completed.loc[profile_add_completed['total_viewed_offers'] < profile_add_completed['total_completed_offers'], 'total_influenced_offers'] = profile_add_completed.total_viewed_offers
profile_add_completed.loc[profile_add_completed['total_viewed_offers'] >= profile_add_completed['total_completed_offers'], 'total_influenced_offers'] = profile_add_completed.total_completed_offers

In [15]:
profile_add_completed['response_rate'] = profile_add_completed.total_influenced_offers/profile_add_completed.total_received_offers

In [16]:
profile_add_completed=profile_add_completed.drop(columns=['total_received_offers','total_viewed_offers','total_completed_offers','total_influenced_offers'])

In [17]:
# Number of transactions made per person
total_transactions = transaction.groupby(['person'])['time'].agg(['count'])

# Merge profile and number of offers completed
profile_add_transaction = pd.merge(profile_add_completed, 
             total_transactions, 
             how='left', 
             on=['person'])

profile_add_transaction = profile_add_transaction.rename(columns={'count':'total_transactions'})

In [18]:
# Calculate average amount spent per transaction per user
profile_add_transaction['avg_spent_per_transaction'] = profile_add_transaction.total_spending/profile_add_transaction.total_transactions

In [19]:
# Total reward points earned per user
total_rewards = completed.groupby(['person'])['reward'].agg(['sum'])

# Merge profile and number of offers completed
profile_add_reward = pd.merge(profile_add_transaction, 
             total_rewards, 
             how='left', 
             on=['person'])

profile_add_reward = profile_add_reward.rename(columns={'sum':'total_rewards'})

## Cleaned data about users

In [20]:
profile_df = profile_add_reward

In [21]:
profile_df.shape[0]

14825

In [22]:
profile_df.head()

,gender,age,person,income,membership_length,total_spending,response_rate,total_transactions,avg_spent_per_transaction,total_rewards
0,F,55,0610b486422d4921ae7d2bf64640c50b,112000.0,963,77.01,0.000000,3.0,25.670000,5.0
1,F,75,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1030,159.27,0.750000,7.0,22.752857,20.0
2,M,68,e2127556f4f64592b11af22de27a7932,70000.0,678,57.73,0.500000,3.0,19.243333,7.0
3,M,65,389bc3fa690240e798340f5a15918d5c,53000.0,754,36.43,0.833333,3.0,12.143333,19.0
4,M,58,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,844,15.62,0.333333,4.0,3.905000,2.0

In [23]:
profile_df.columns

Index(['gender', 'age', 'person', 'income', 'membership_length',
       'total_spending', 'response_rate', 'total_transactions',
       'avg_spent_per_transaction', 'total_rewards'],
      dtype='object')

In [24]:
# Export profile data to csv for further analysis
profile_df.to_csv('data/profile_cleaned.csv',index=False)